<div>
    <div class="mb-3" id="map" style="width:100%; height: 400px;"></div>
</div>
<script>
    const mapToken = '<%=process.env.MAPBOX_TOKEN%>'
</script>
<script src="/scripts/clusterMap.js"></script>