<% layout('layout/boilerplate') %>
    <div class="alert alert-warning alert-dismissible fade show mb-0" role="alert">
        <strong>Remis 20%</strong> Pour la premiere inscreption.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <section class="land text-center mt-0">
        <div class="content">
            <h1 class="display-4">Bienvenue dans notre mini boutique</h1>
            <p class="lead">Si vous recherchez du matériel de camping pour vivre votre meilleurs avantures dans la
                nature, vous êtes
                au bon endroit.Découvrez les dernières offres et campings de MineVally</p>
            <a href="/campgrounds" class="btn btn-primary">Campgrounds</a>
        </div>
    </section>
    <div class="mt-5 text-center">
        <h1 class="text-info">Pour commander</h1>
        <p class="lead">Envoyer un email avec votre adresse et le reference du produit</p>
    </div>
    <section id="tents" class="container products mt-5">
        <h1 class="display-4">Nos Tents Choisissez vos favoris !</h1>
        <div class="product">
            <div class="card mt-3" style="width: 18rem;">
                <img src="https://media.gettyimages.com/id/1150320394/fr/photo/couple-camping-on-mountain-top-prepare-food-and-beverages-next-to-tent.jpg?s=612x612&w=0&k=20&c=GBXnAxQl6yxoCgbIser3ejNugllmvxZ-AXHrwYZtHw0="
                    class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Tente jaune</h5>
                    <p class="card-text">Cette reference est disponible dans notre stock pour voir les details click
                        commander</p>
                    <a href="#" class="btn btn-primary">Commander</a>
                </div>
            </div>
            <div class="card mt-3" style="width: 18rem;">
                <img src="https://media.gettyimages.com/id/1059448246/fr/photo/camping-la-vie.jpg?s=612x612&w=0&k=20&c=0zTuQACRAQzgeFKgH5WIZR_8HrEJ_9F67xlfd-PyR04="
                    class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Tente bleu</h5>
                    <p class="card-text">Cette reference est disponible dans notre stock pour voir les details click
                        commander</p>
                    <a href="#" class="btn btn-primary">Commander</a>
                </div>
            </div>
            <div class="card mt-3" style="width: 18rem;">
                <img src="https://media.gettyimages.com/id/sb10070057l-001/fr/photo/usa-oregon-bend-illuminated-tent-by-lake-in-mountains.jpg?s=612x612&w=0&k=20&c=SrEej2j2xnokCNfCHk4ToFa9E3t26PHyb6DL1-lzoFE="
                    class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Tente oranger</h5>
                    <p class="card-text">Cette reference est disponible dans notre stock pour voir les details click
                        commander</p>
                    <a href="#" class="btn btn-primary">Commander</a>
                </div>
            </div>
        </div>
    </section>
    <div class="promotion text-center text-info mt-5">
        <h1>Obtenez votre remise de 20 % pour votre inscription</h1>
    </div>
    <section id="sac" class="container products mt-5">
        <h1 class="display-4">Nos Sac a dos Choisissez vos favoris !</h1>
        <div class="product" id="tents">
            <div class="card mt-3" style="width: 18rem;">
                <img src="https://media.gettyimages.com/id/501573238/fr/photo/randonn%C3%A9e-%C3%A0-solitude.jpg?s=612x612&w=0&k=20&c=8eU7TRDwLQesBt8GOXtuLJmidPZSgzQR9ppqtaxtVgo="
                    class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Sac bleu</h5>
                    <p class="card-text">Cette reference est disponible dans notre stock pour voir les details click
                        commander</p>
                    <a href="#" class="btn btn-primary">Commander</a>
                </div>
            </div>
            <div class="card mt-3" style="width: 18rem;">
                <img src="https://media.gettyimages.com/id/1056344426/fr/photo/backpack-in-the-mountains.jpg?s=612x612&w=0&k=20&c=tTpchI7tmrBkEDVH_b0km4ESeN-jPjvyKb0h89LI1Cg="
                    class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Sac marron</h5>
                    <p class="card-text">Cette reference est disponible dans notre stock pour voir les details click
                        commander</p>
                    <a href="#" class="btn btn-primary">Commander</a>
                </div>
            </div>
            <div class="card mt-3" style="width: 18rem;">
                <img src="https://media.gettyimages.com/id/612619528/fr/photo/femme-hippie-se-promener-sur-la-montagne.jpg?s=612x612&w=0&k=20&c=NknB-aSovXJCP6YprUIVWKbROixYJogYbjKjXQ-bvzI="
                    class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Sac small</h5>
                    <p class="card-text">Cette reference est disponible dans notre stock pour voir les details click
                        commander</p>
                    <a href="#" class="btn btn-primary">Commander</a>
                </div>
            </div>
            <div class="card mt-3" style="width: 18rem;">
                <img src="https://media.gettyimages.com/id/527961035/fr/photo/hiking-to-a-scenic-viewpoint.jpg?s=612x612&w=0&k=20&c=XidL0fMvxjIBQ6X5e36fALhOH8nZX_l-LqRdspFryjE="
                    class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Sac vere</h5>
                    <p class="card-text">Cette reference est disponible dans notre stock pour voir les details click
                        commander</p>
                    <a href="#" class="btn btn-primary">Commander</a>
                </div>
            </div>
            <div class="card mt-3" style="width: 18rem;">
                <img src="https://media.gettyimages.com/id/683987912/fr/photo/backpack-and-camping-equipment-on-grass.jpg?s=612x612&w=0&k=20&c=bBZcgrHcl6uF2cSIJmzB5k5hijLTfCFFbV5Bj9jpx5E="
                    class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Large Sac</h5>
                    <p class="card-text">Cette reference est disponible dans notre stock pour voir les details click
                        commander</p>
                    <a href="#" class="btn btn-primary">Commander</a>
                </div>
            </div>
            <div class="card mt-3" style="width: 18rem;">
                <img src="https://media.gettyimages.com/id/531284699/fr/photo/a-woman-backpacking.jpg?s=612x612&w=0&k=20&c=UHUR2o0S2kHdTwZ6x21fCLGIjvdpHK7ESlcBgO8Skbk="
                    class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Medum Sac</h5>
                    <p class="card-text">Cette reference est disponible dans notre stock pour voir les details click
                        commander</p>
                    <a href="#" class="btn btn-primary">Commander</a>
                </div>
            </div>
        </div>
    </section>
    <div class="promotion text-center text-info mt-5">
        <h1>Consulter les campgrounds disponibles sur notre platforme</h1>
    </div>
    <section id="camera" class="container products mt-5">
        <h1 class="display-4">Nos Cameras disponibles Choisissez vos favoris !</h1>
        <div class="product" id="tents">
            <div class="card mt-3" style="width: 18rem;">
                <img src="https://media.gettyimages.com/id/849896688/fr/photo/ski-le-snowboard-prenant-un-selfie-sur-la-montagne.jpg?s=612x612&w=0&k=20&c=Gzh8Gv826tD_c6CwYkYTp-ulzS8HcT7mrwG2NRCJ8uo="
                    class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <h5 class="card-title">GoPro 7</h5>
                    <p class="card-text">Cette reference est disponible dans notre stock pour voir les details click
                        commander</p>
                    <a href="#" class="btn btn-primary">Commander</a>
                </div>
            </div>
            <div class="card mt-3" style="width: 18rem;">
                <img src="https://media.gettyimages.com/id/1159368439/fr/photo/jeune-homme-prenant-le-selfie-avec-la-cam%C3%A9ra-daction-au-coude-de-fer-%C3%A0-cheval-en-arizona.jpg?s=612x612&w=0&k=20&c=SljkeT83L-MvCsnDTboPFSok8wUWTOAvayENGq-ExLg="
                    class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <h5 class="card-title">GoPro 9</h5>
                    <p class="card-text">Cette reference est disponible dans notre stock pour voir les details click
                        commander</p>
                    <a href="#" class="btn btn-primary">Commander</a>
                </div>
            </div>
            <div class="card mt-3" style="width: 18rem;">
                <img src="https://media.gettyimages.com/id/528901965/fr/photo/african-american-5k-competitor-at-finish-of-race.jpg?s=612x612&w=0&k=20&c=5r6yMPP9uTbcOGPjP06eekl_eLM4-XP1D2oChAopDik="
                    class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <h5 class="card-title">GoPro 8</h5>
                    <p class="card-text">Cette reference est disponible dans notre stock pour voir les details click
                        commander</p>
                    <a href="#" class="btn btn-primary">Commander</a>
                </div>
            </div>
        </div>
    </section>